In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn import datasets
from io import StringIO
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
from sklearn.linear_model import LogisticRegression    
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [6]:
# Load data file
bank=pd.read_csv('card_transdata.csv')
bank.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [7]:
# Check if the data set contains any null values - Nothing found!
bank[bank.isnull().any(axis=1)].count()

distance_from_home                1
distance_from_last_transaction    0
ratio_to_median_purchase_price    0
repeat_retailer                   0
used_chip                         0
used_pin_number                   0
online_order                      0
fraud                             0
dtype: int64

In [ ]:
from sklearn.datasets import load_wine
wine = load_wine()

X_train, X_test, y_train, y_test = train_test_split(wine.data, wine.target,test_size=0.3, stratify=wine.target, random_state=42)

In [ ]:

classification_goal = bank["Example"]
bank = bank.drop(["Example"], axis=1)

x_train_clas, x_validate_clas, y_train_clas, y_validate_clas = train_test_split(bank, classification_goal, test_size=0.33)

In [ ]:
dtc = DecisionTreeClassifier(random_state=42) 
dtc.fit(X_train, y_train)

In [7]:
log_reg = LogisticRegression(random_state=42) 
log_reg.fit(X_train, y_train)

In [ ]:
rfc = RandomForestClassifier(n_estimators=10, random_state = 42, warm_start=True) 
rfc.fit(X_train, y_train)